@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&family=Source+Sans+3:wght@400;600;700&display=swap');
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dd, ol, ul, figure,
hr,
fieldset, legend,
button, input, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
  }

ul {
    list-style: none;
}

html {
  box-sizing: border-box;
  
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-family: 'Source Sans 3', sans-serif;
  width: 100%;   
}
:root {
    --orange: #DA5D24;
    --orange-hover: #BA4E1D;
    --blue-bg: rgba(6, 37, 91, 0.95);
    --white-color: #ffffff;
  }
.btn {
    padding: 1rem 1.5rem;
    transition: all 0.250s ease-in-out;
  }


  /*------ header-----*/
.header {
    display: flex;
    position: fixed;
    align-items: center;
    color: var(--white-color);
    width: 100%;
    height: 150px;
    top: 0;
    z-index: 88;
    padding: 0 2%;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.2px;
    background: var(--blue-bg);
    transition: background-color 0.8s ease;
  }
  .fixed {
    background: rgba(255, 255, 255, 0.3);
    color: #2F3034;
    height: 65px;
  }
 .header_body {
    display: flex;
    width: 100%;
    max-width: 1360px;    
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
.header_burger {
    display: none;
}
.header_nav {
    display: flex;
    align-items: center;
}
.header_nav_lists {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.header_nav_lists > li:not(:last-child) {
margin-right: 1rem;
}
.header_nav_lists > li:hover {
    transition: all 0.250s ease-in-out;
    text-shadow: 2px 1px 10px rgba(249, 248, 248, 0.3), 0 0 5px rgba(106, 189, 248, 0.5);
}
.header_iform {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
}
.header_contact {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: var(--orange);
  }
.header_language {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    color: #06255B;
    background-color: #fff;
}
.language_list:not(:last-child) {
    margin-right: 1rem;
}
.language_list {
    display: block;
    padding-left: 1rem;
    padding-top: 2px;

}
.language_list:first-child {
    background: url(../source/img/icon-Germ.svg) left center no-repeat;
}
.language_list:nth-child(2) {
    background: url(../source/img/icon-Eng.svg) left center no-repeat;
}
.language_list:last-child {
    background: url(../source/img/icon-Franc.svg) left center no-repeat;
}
.selected {
    color: var(--blue-bg);
    font-weight: 700;
}
@media (max-width: 1200px) {   
    .logo, .header_iform{
      transform: scale(0.7);
    }
    .header_nav {
        transform: scale(0.9); 
    }
  }

            /*------------- Body content ------  */

.body_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.introductory {
    position: relative;
    width: 100%;
    min-height: 1080px;
    margin-top:150px;
    color: #F7F7F7;
    background-image: url(../source/img/introductory_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.introductory_content {
    display: grid;
    grid-template-columns: 1fr 1fr;     
    width: 100%;
    min-height: 1080px;
    background: linear-gradient(180deg, #06255B 0%, rgba(6, 37, 91, 0.00) 100%);

}
.introductory_title {
    font-weight: 400;
    font-size: 64px;
    letter-spacing: -1.47px;
}
.introductory_content-lists {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    padding: 10% 0 2rem 15%;
    gap: 3rem;
    font-weight: 400;
    font-size: 25px;
}
.introductory_content-list:first-child {
    margin-top: 20%;
}
.introductory_content-list:last-child {
    font-size: 15px;
    font-weight: 600;
}
.how_serve {
    margin-right: 1rem;
    background: rgba(6, 37, 91, 0.80);
    border: 2px solid #FFF;
}
.how_serve:hover {
    color: var(--blue-bg);
    background: #F7F7F7;   

}
.contact_btn {
    color: var(--blue-bg);
    border: 2px solid #FFF;
}
.contact_btn:hover {
    color: #F7F7F7;
    background: #ABB5C7;
}
.introductory_media {
    position: relative;
}
.media_rhombus:first-child {
    left: 13%;
    top: 42%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    height: 124.6px;
    width: 124.6px;
}
.media_rhombus:first-child::before {    
    position: absolute;
    z-index: -2;
    content: "";
    top: 0;
    right: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid #FF7C40;
    transform: rotate(45deg);
    opacity: 0.9;
}
.media_rhombus:first-child::after {
    position: absolute;    
    content: "";
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    border: 9px solid #06255B;
    background: rgba(6, 37, 91, 0.80);
    transform: rotate(45deg);
}
.media_rhombus:nth-child(2) {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin-left: 29%;
    top: 16%;
    width: 151.219px;
    height: 151.219px; 
}
.media_rhombus:nth-child(2)::before {
    position: absolute;
    content: "";
    top:-20px;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    border: 1px solid #FFF;
    opacity: 0.6;
    transform: rotate(45deg);
}
.media_rhombus:nth-child(2)::after {
    position: absolute;
    content: "";    
    left: 0;
    z-index: -1;
    top: 0;
    width: 151.2px;
    height: 151.2px;
    border: 8px solid #FFF;
    opacity: 0.9;
    background: rgba(6, 37, 91, 0.80);
    transform: rotate(45deg);
}
.media_rhombus:nth-child(3) {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    margin-left: 28%;
    z-index: 5;
    width: 177px;
    height: 177px;
}
.media_rhombus:nth-child(3)::after {
    position: absolute;
    content: "";    
    left: 0;
    z-index: -1;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid var(--orange);
    opacity: 0.9;
    background: rgba(6, 37, 91, 0.80);
    transform: rotate(45deg);
}
.media_rhombus:nth-child(3)::before {
    position: absolute;
    content: "";    
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0;
    border: 1px solid #FFF;
    opacity: 0.9;
    transform: rotate(45deg);
}
.media_rhombus:nth-child(4) {
    position: absolute;
    width: 0;
    height: 0;
    right: -150px;
    top: 34%;
    border-left:300px solid transparent; 
    border-right:300px solid transparent; 
    border-top: 300px solid var(--orange); 
    opacity: 0.8;
    transform: rotate(90deg);
   
}
/*----- expertise -------*/
.expertise {
    display: grid;
    grid-template-columns: 1fr;  
    
}
.expertise_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem  0;
    width: 100%;
}
.expertise_title {
    font-size: 40px;
    font-weight: 700;
}
.expertise_body {
    width: 100%;
}
.expertise_body_card {
    display: flex;
  flex-wrap: wrap;
  gap: 2px; 
}
.expertise_list {
    display: block;
    height: 488px;
    width: 285px;
    /* border: 1px solid #2F3034; */
    padding: 1rem 1.5rem;
    background-size: contain; 
    background-position: bottom;
    background-repeat: no-repeat;
    transition: all 0.250s ease-in-out;
}

.expertise_list-counter {
    position: relative;
    font-weight: 700;
    margin-bottom: 60%;
    color: var(--orange);
}
.expertise_list-counter::after {
    content: "+";
    position: absolute;
    font-size: 24px;
    
    color: inherit;
    top:10px;
    left:13px;

}
.expertise_list:first-child {
    background-image: url(../source/img/list_bg_1.png);       
}
.expertise_list:nth-child(2) {
    background-image: url(../source/img/list_bg_2.png);
}
.expertise_list:nth-child(3) {
    background-image: url(../source/img/list_bg_3.png);
}
.expertise_list:nth-child(4) {
    background-image: url(../source/img/list_bg_4.png);
}
.expertise_list:nth-child(5) {
    background-image: url(../source/img/list_bg_5.png);
}
.expertise_list:nth-child(6) {
    background-image: url(../source/img/list_bg_6.jpg);
}
.expertise_list:hover {
    
    background: url(../source/img/list_bg_hover.png);
    background-position: center;
    background-size: cover;
}
.expertise_list:hover > .expertise_list-counter {
    color: #ffffff;
}
 /*-------benefit -----*/
 .benefit {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
   
 }
 .benefit_title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
 }
 .benefit_title > li {
    max-width: 437px;
 }
 .benefit_title > h2 {
    font-size: 40px;
    font-weight: bold;
 }
 .benefit_content {
    display: grid;
    grid-template-columns: 58% 42%;     
}
.benefit_content_img {
    min-height: 550px;
    background-image: url(../source/img/benefit_bg.jpg);
    background-repeat: no-repeat;
}
.benefit_content_discription {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    margin-bottom:5%;
    margin-right: 40%;
    padding-left: 1rem;
} 
.benefit_content_aditional {
    
}
.benefit_content_aditional-lists {
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    flex-wrap: nowrap;
    max-width: 250%;
    height: 156px;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1px;
    color: #A8ACAD;
    background-color: #fff;
}
.benefit_content_aditional-lists > li {
   position: relative;
   padding-left:2rem; 
   box-sizing: border-box;
   width: 300px;   
   padding: 10px;
   
   height: 156px;
}
.aditional_counter {
    margin-bottom: 1rem;
}
.aditional_counter::after {
    position: absolute;   
    content: "+";
    font-size: 24px;
    top: 22px;
    left: 30px;
}
.benefit_content_btn {
    display: flex;
    margin-bottom: 10%;
}
.benefit_content_prev, .benefit_content_next {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    cursor: pointer;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    width: 71.5px;
    height: 71.5px;
    border-radius: 2px;
    background-color: var(--orange);
    transition: all 0.250s ease-in-out;
}
.benefit_content_prev {
    background-color: var(--blue-bg);
}
.benefit_content_prev:hover {
    box-shadow: -5px 5px 5px 0px rgba(78, 118, 230, 0.5);
    background-color: #1D4A99;
}
.benefit_content_next:hover {
    box-shadow: 5px 5px 10px 0px rgba(255, 25, 25, 0.5);
    background-color: #BA4E1D;
}
 
.benefit_content_discription > h3 {
    margin-bottom: 8%;
}
.show {
    color: #000000;
}
/*----- HAR -----*/
.har_body {
   padding: 3rem;
   width: 100%;
  }
  
  .har_body_lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  .har_body_title {
    font-size: 32px;
    color: var(--orange);
    margin-bottom: 2rem;
  }
  
  .har_body_list {
    box-sizing: border-box;
    flex: 1 0 25%; /* Кожен елемент займає 25% ширини контейнера */
    height: 340px; /* Налаштуйте висоту за потребою */
    
    margin: 5px;
  }
 
  .har_body_list > h3 {
    font-size: 28px;
  }
  .har_body_list > p {
    color: #737B7D ;
  }

  /*------meet team ------*/

  .meet_team_title {
    font-size: 40px;
    font-weight: 700;
    margin-left: 12%;
  }
  .meet_team_sub_title {
    font-size: 32px;
    color: var(--orange);
    margin-left: 12%;
    margin-bottom: 5%;
  }
  .leadership-lists_title {
    /* transform: rotate(90deg); */
    /* transform-origin: left bottom; */
  }
.meet_team_leadership-lists {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 6%;
    margin-bottom: 10%;
    margin-left: 3%;
}
.meet_team_leadership-lists::after {
    position: absolute;
    content: "";
    width: 70%;
    border-top: 1px dashed #2f3034;
    left: 12%;
    bottom: -25%;
}
.leadership-lists_title {
    width: 100px;        
    writing-mode: vertical-rl; /* vertical-rl - означає вертикальний напрямок зліва направо */
    transform: rotate(180deg); /* Поворот на 180 градусів для корекції напрямку тексту */
    transform-origin: center right; /* Встановлюємо точку обертання в лівий нижній кут */
    white-space: nowrap;
    padding-right: 0.6%;
     
    font-weight: 300;
    font-size: 32px;  
    background: linear-gradient(var(--orange), var(--orange)) 70% 0/1em 69% no-repeat;   
    box-decoration-break: clone;
}

.leadership-lists {
    position: relative;
    display: flex;
    flex: 0 0 35%;
    height: 345px;
}
.triangle-orange:after, .triangle-blue:after {
    content: "";
    position: absolute;
    bottom:25px;
    left: 127px;
    width: 0;
    height: 0;
    z-index: -1;
    transform: rotate(-80deg);
    border-left: 95px solid transparent; /* половина бажаної ширини трикутника */
    border-right: 95px solid transparent; /* половина бажаної ширини трикутника */
    border-bottom: 164.9px solid var(--orange); /* висота трикутника */
}
.triangle-blue:after {    
    bottom:-15px;
    left: 50px;    
    transform: rotate(-10deg);   
    border-bottom: 164.9px solid var(--blue-bg); /* висота трикутника */ 
}
.leadership_img {       
    width: 287px;
    height: 345px;
    object-fit: cover;
    background-color: #A8ACAD;
}

.leadership_name {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.leadership_name svg {
    cursor: pointer;
}
.har_arrow {
    font-size: 24px;
    color: var(--orange);
    margin-right: 1rem;
}
.meat_engineers {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 365px;
    padding-left: 10%;
    margin-bottom: 5%;
}
.meat_engineers_title {
    writing-mode: vertical-rl;
    rotate: 180deg;
    margin: auto 0;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    background-color: var(--orange);
}
.meat_engineers_lists { 
    position: relative;   
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 3%;
} 
.meat_engineers_lists::after {
    position: absolute;
    content: "";
    width: 70%;
    border-top: 1px dashed #2f3034;
    left: 0;
    bottom: -4%;
    
}
.engineers_list img {
    height: 216px;
    width: 216px;
}
.engineers_list h4 {
    max-width: 38%;
}
.meat_apply-now {
    white-space: nowrap;
    padding:  0 0.5rem;
    margin-left: 50%;
    border-radius: 20px;
    color: #F7F7F7;
    background-color: var(--orange);
    
}
@media (max-width: 1475px) {   
    .meet_team_leadership-lists {
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
        gap: 30px;
    }
    .meet_team_leadership-lists::after {
       bottom: -6%; 
    }
    .leadership-lists_title { 
        transform: rotate(-90deg) translateY(20px);        
    }
    .meat_engineers {
       width: 40%; 
       margin-left: 40%;
       transform: translate(-50%);
    }
    .meat_engineers_lists {
        flex-direction: column;
        max-width: 400px;
        justify-content: center;
        margin-left: 50%;
        transform: translate(-50%);
    }
  }


        /*----- contact us ------*/


.contactUs {
    height: 400px;
    width: 100%;
    background-image: url(../source/img/mapBG.jpg);
}
.contact_info {

}
     /*------- footer -------*/

.footer {
    display: grid;    
    width: 100%;
    height: 80px;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 157%;
    letter-spacing: 0.3px;
    background-color: var(--blue-bg);    
  }
.footer-body {   
    padding-left: 7%;
    padding-right: 7%; 
    align-self: center; 
    
  }

 .footer-lists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 920px) {
    .footer {
        height: 105px;
        font-size: 12px;
    }
    .footer-lists {
        flex-direction: column;
        
    }
    .footer-list:not(:last-child) {
        margin-bottom: 0.5rem;
    }
  }