@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&family=Source+Sans+3:wght@400;600;700&display=swap');
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dd, ol, ul, figure,
hr,
fieldset, legend,
button, input, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
  }

ul {
    list-style: none;
}

html {
  box-sizing: border-box;
  
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-family: 'Source Sans 3', sans-serif;
  width: 100%;
}
:root {
    --orange: #DA5D24;
    --orange-hover: #BA4E1D;
    --blue-bg: rgba(6, 37, 91, 0.95);
  }
/*------- footer -------*/
  .footer {
    display: grid;    
    width: 100%;
    height: 80px;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 157%;
    letter-spacing: 0.3px;
    background-color: var(--blue-bg);
  }
  .footer-body {   
    padding-left: 7%;
    padding-right: 7%; 
    align-self: center; 
    
  }

  .footer-lists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 920px) {
    .footer {
        height: 105px;
        font-size: 12px;
    }
    .footer-lists {
        flex-direction: column;
        
    }
    .footer-list:not(:last-child) {
        margin-bottom: 0.5rem;
    }
  }